.container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border:2px solid gray;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    column-gap: 2%;
    font-family: 'Times New Roman', Times, serif;
}
.container2{
    display: grid;
    grid-template-columns: 80% 20%;
    border:2px solid gray;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    column-gap: 2%;
    font-family: 'Times New Roman', Times, serif;
}